* {
    margin: 0;
}

:root {
    --green: #ADBF6B;
    --blue: #8AA6BF;
    --brown: #BF4F26;
    --white: #F2F2F2;
}

body {
    background-color: var(--white);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > h1 {
    font-family: 'Abril Fatface', cursive;
    padding: 20px;
    color: var(--brown);
    border-bottom: 2px solid var(--green);
}

.card {
    padding: 10px;
    margin-top: 20px;
    max-width: 70vw;
    max-height: 70vh;
    color: var(--brown);
    font-family: 'Raleway', sans-serif;
    font-size: small;
    border: 2px solid var(--blue);
    text-align: center;
    
}

.card > p {
    text-align: center;
    
}

.formCard {
    padding-bottom: 20px;
    font-size: medium;

}

.btn {
    color: var(--blue);
    font-family: 'Abril Fatface', cursive;
    cursor: pointer;

}

#log {

    font-family: 'Abril Fatface', cursive;
    /* padding: 20px; */
    color: var(--brown);
    border-bottom: 2px solid var(--green);

}

/* media screen for watch/under 220px h1 text align center