* {
    margin: 0;
}

:root {
    --green: #ADBF6B;
    --blue: #8AA6BF;
    --brown: #BF4F26;
    --white: #F2F2F2;
}

body {
    background-color: var(--white);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > h1 {
    font-family: 'Abril Fatface', cursive;
    padding: 20px;
    color: var(--brown);
}

.card {
    padding: 10px;
    max-width: 70vw;
    max-height: 70vh;
    color: var(--brown);
    font-family: 'Raleway', sans-serif;
    font-size: small;
    border: 2px solid var(--blue);
}