* {
    margin: 0;
}

:root {
    --green: #ADBF6B;
    --blue: #8AA6BF;
    --brown: #BF4F26;
    --white: #F2F2F2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}